// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

/*-- scss:defaults --*/
$navbar-bg: #3A3B3C;
$font-family-base: 'Montserrat', sans-serif;
$success: #CE2029 !default;

// Custom Variables
$dracula: 'Pirata One', cursive;

/*-- scss:rules --*/
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: $dracula;
  font-size: $font-size-base * 4;
  text-shadow: 3px 3px 0 rgba(206, 32, 41, 1);
}

p.subtitle.lead {
  font-family: $dracula;
  font-size: $font-size-base * 3.5;
  margin-top: -20px;
  margin-bottom: 0px;
  padding-top: 0px !important;
  text-shadow: 3px 3px 0 rgba(206, 32, 41, 1);
}

code {
  color: #EA776A;
}

.about-image {
  margin-top: 1.5em;
}